/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #0F0F0F;
  --darkplus-bg2: #0C0C0C;
  --darkplus-sec: #8A002F;
  --darkplus-links: #C80144;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/886248479792459866/1163866432359112804/s_1024x.png?ex=65412215&is=652ead15&hm=fc2fab713d6d05f0e43be4945d4520be66cb8ad851ef9229b8bf1964dea91d18&);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 0%;
  --watermark-filter-saturate: 0%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 0%;
  --watermark-filter-contrast: 0%;
  --darkplus-emoji-picker-color: 210deg;
}
