/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #181818;
  --darkplus-bg2: #0F0F0F;
  --darkplus-sec: #8E0000;
  --darkplus-links: #8E0000;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/886248479792459866/1146775617879167026/D7MxpoAXYAAKeJZ.png?ex=653a5405&is=6527df05&hm=748fd0e99c77bf2186f52ea3e15beb1eba4525d352660e796a1a82ae5a2f9ce6&);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 0%;
  --watermark-filter-saturate: 0%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 0%;
  --watermark-filter-contrast: 0%;
  --darkplus-emoji-picker-color: 210deg;
}
