/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #0F0F0F;
  --darkplus-bg2: #0C0C0C;
  --darkplus-sec: #83002C;
  --darkplus-links: #C80144;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/886248479792459866/1064197675773341786/catherine-falling-sheep-pin.jpg?ex=653e73d1&is=652bfed1&hm=4c5b423d464b32d711c6c3501c722b791ca9efb3c1b8144f764d2bdf295b94f4&);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 0%;
  --watermark-filter-saturate: 0%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 0%;
  --watermark-filter-contrast: 0%;
  --darkplus-emoji-picker-color: 210deg;
}
